body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: rgb(223,241,255);

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(223,241,255,1)), to( rgba(233, 216, 255, 0.383))) fixed !important;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
}
