@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Merriweather+Sans:wght@300;600;700;800&family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700&family=Open+Sans:wght@300;400;600&display=swap');

body{
  background:#e6edff !important;
}

.card-custom{
  width: 190px;
  height:  330px;
  margin: 30px;
  background: #fff;
  border-radius: 30px;
  transition: all 0.2s;
}

.card-custom:hover{
  /* transform: scale(1.01); */
}

.image-container{
  width: 100%;
  /* min-width: 150px;
  max-width: 150px; */
  height: 110px;
  border-radius: 20px;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.109);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.109);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.109);
}

.song-img{
  width: 100%;
  min-width: 100%;
  max-width: 100%; 
  border-radius: 20px;
  height: auto;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 0.3s;
  cursor: pointer;
}

.song-img:hover{
  transform: translateY(-50%) translateX(-50%) scale(1.05);
}

.card-body{
  margin: 15px auto;
  width: 90%;
}

.card-footer{
  margin: 6px auto;
  width: 90%;
}

.song-name{
  font-family: 'Hind', sans-serif;
  font-size: 20px !important;
  color: rgb(36, 36, 36);
  font-weight: 600;
  padding: 0px;
  line-height: 20px;
  text-transform: capitalize;
}

.artist-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgb(134, 134, 134);
  text-transform: capitalize;
}

.comment{
  margin-top: 10px;
  margin-right: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  height: 60px;
  max-width: 120px;
  text-align: justify;
  color: rgb(53, 53, 53);
  font-weight: 600;
}

.autor{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  color: rgb(160, 160, 160);
  position: relative;
  bottom: 0px;
}

.logo-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  width: 130px;
  text-align: center;
  color: rgb(255, 255, 255);
}

