body{
  background:#e6edff !important;scroll-behavior: smooth;
}

.card-custom{
  width: 190px;
  height:  330px;
  margin: 0px 20px 20px;
  background: #fff;
  border-radius: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.2s;
  z-index: 1000;
  box-shadow: 0 0px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.card-custom::-webkit-scrollbar { 
  display: none;
}

.image-container{
  width: 100%;
  min-width: 100%;
  max-width: 100%; 
  height: 110px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;

}

.song-img{
  width: 100%;
  min-width: 100%;
  max-width: 100%; 
  border-radius: 20px;
  height: auto;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 0.3s;
  cursor: pointer;
}

.song-img:hover{
  transform: translateY(-50%) translateX(-50%) scale(1.06);
}

.card-body{
  margin: 15px auto;
  width: 90%;
}

.card-footer{
  margin: 6px auto;
  width: 90%;
}

.song-name{
  font-family: 'Hind', sans-serif;
  font-size: 20px !important;
  color: rgb(36, 36, 36);
  font-weight: 600;
  padding: 0px;
  line-height: 20px;
  text-transform: capitalize;
  
  max-width: 171px;
  overflow: hidden;
  height: 20px;
  position: relative;
}

.song-name span {
  position: absolute;
  white-space: nowrap;
  transform: translateX(0);
  transition: 1s;
  overflow: hidden;
}

.artist-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgb(134, 134, 134);
  text-transform: capitalize;
}

.comment{
  margin-top: 10px;
  margin-right: 0px !important;
  margin: 0px !important;
  width: 100% !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  height: 60px;
  text-align: justify;
  color: rgb(53, 53, 53);
  font-weight: 600;
  word-break: break-word;
  display: flex;
}

.autor{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  color: rgb(160, 160, 160);
  position: relative;
  bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
}

.logo-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  width: 130px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.card-options{
  border-left: 1px solid rgba(128, 128, 128, 0.068);
  width: 30px;
  height: auto;
  position: relative;
  left: 180px;
  bottom: 90px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  transition: left 0.25s linear, opacity .3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.card-options-visible{
  left: 180px;
  opacity: 1;
  pointer-events:visible;
  cursor: pointer;
}

.option-container{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.faPen{
  color: rgb(255, 203, 34);
  cursor: pointer
}

.faTrash{
  color: rgb(199, 25, 25);
  cursor: pointer
}

.faHeart{
  color: #7E22CD;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.4;
  transition: all 0.3s;
}

.faHeart:hover{
  color: #7E22CD;
  opacity: 0.6;
}

.heart {
  cursor: pointer;
  min-height: 50px;
  min-width: 50px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
  outline: none !important;
}

.clicked_heart {
  background-position: right;
}

.disclicked_heart {
  background-position: left;
}

.heart:hover {
  background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}


@media (max-width: 600px){
  .stars-calification span{
    font-size: 30px !important;
  }

}


