.carousel-buttons{
  width: 190px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container{
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.carousel-genre{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(85, 85, 85);
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rec-carousel-item{
  /* min-width: 250px;
  max-width: 250px; */
  width: 235px;
  display: flex;
  justify-content: center;
}

.rec-item-wrapper{
  /* min-width: 250px;
  max-width: 250px; */
  min-width: 250px;
  display: flex;
  justify-content: center;
  height: 340px;
  margin-bottom: 0px !important;
}

.rec-carousel-wrapper{
  width: 275px !important;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.rec-pagination{
  margin-top: 0px !important;
}

.carousel-button{
  width: 20px;
  height: 30px;
  outline: none !important;
}

.carousel-arrows-icon{
  color: rgba(153, 0, 255, 0.603);
  transition: all 0.1s;
}

.disabled-carousel-arrows-icon{
  color: rgba(153, 0, 255, 0.335);
}

.rec-dot{
  width: 7px !important;
  height: 7px !important;
  outline: none !important;
}

.rec-dot_active{
  box-shadow: 0 0 1px 2px rgb(103 58 183) !important;
}

/* MIN 1278px WIDTH = 3 CARD SLOTS*/

/*MIN 853px WIDTH = 2 CARD SLOTS*/

/* 1 CARD SLOT */
@media (max-width: 850px){
  .carousel-buttons{
    margin: 20px 0px 10px 0px;
  }
  
  .buttons-container{
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: space-around;
  }
  
}
