@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

.add-button{
  width: 90px;
  height: 35px;
  background-color: #7e22cd;
  border-radius: 25px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .875rem;
  line-height: 1.25rem;
  font-family: 'Nunito', sans-serif;
  outline: 0 !important;
  transition: all 0.2s;
  padding-top: 2.5px;
} 

.options-container{
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 40px;
  align-items: center;
}

.profile-image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.add-button:hover{
  background-color: #6b1fad;
} 
