@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.react-stars {
  outline: none !important;
}

.swal2-input {
  margin: 5px 0px 0px 0px !important;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.09);
}

.swal2-file {
  margin: 5px 0px 0px 0px !important;
  align-items: center;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.09);
}

.submit-button {
  width: 160px;
  height: 50px;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: rgb(0, 132, 255);
  color: white;
  margin: 30px 0px 10px 0px;
  font-family: "Roboto";
  font-weight: 700;
  transition: all 0.2s;
  outline: none !important;
}

.disabled-button {
  opacity: 0.6 !important;
  cursor: default !important;
}

.disabled-button:hover {
  background-color: rgb(0, 132, 255) !important;
}

.submit-button:hover {
  background-color: rgb(0, 107, 207);
}

.input-label {
  text-align: start;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.alert-label {
  color: rgb(255, 0, 0);
  font-size: 14px;
  text-align: start;
  font-style: italic;
  margin-bottom: 10px;
  opacity: 0;
  transition: all 0.5s;
}

.wrong-input {
  border: 1.3px solid rgb(255, 0, 0);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.09);
}
